<div class="flex lg:hidden space-x-4">
  <button id="hamburguer" class="flex flex-col space-y-1">
    <span class="block bg-black h-0.5 w-8"></span>
    <span class="block bg-black h-0.5 w-8"></span>
    <span class="block bg-black h-0.5 w-8"></span>
  </button>
</div>
