---
import { Image } from "astro:assets";
import Img1Header1 from "../assets/imgs/header/img1.webp";
import Img1Header2 from "../assets/imgs/header/img2.jpg";
import Img1Header3 from "../assets/imgs/header/img3.jpg";
import Nav from "./Nav";
---

<header>
  <Nav client:load />

  <section class="flex items-center mt-24 flex-col">
    <h2 class="text-2xl lg:text-6xl">All you need in one single place</h2>

    <div class="flex mt-10 space-x-3 justify-center">
      <a href="https://adsomos.com.br/">
        <Image
          class="h-16 w-28 cursor-pointer lg:h-48 lg:w-64 rounded-md"
          src={Img1Header1}
          alt="Image of a Smartphone"
        />
      </a>
      <a href="https://adsomos.com.br/">
        <Image
          class="h-16 w-28 cursor-pointer lg:h-48 lg:w-64 rounded-md"
          src={Img1Header2}
          alt="Image of a Smartphone"
        />
      </a>
      <a href="https://adsomos.com.br/">
        <Image
          class="h-16 w-28 cursor-pointer lg:h-48 lg:w-64 rounded-md"
          src={Img1Header3}
          alt="Image of a Smartphone"
        />
      </a>
    </div>

    <button class="btn btn-neutral mt-4 hover:bg-slate-600"> Shop Now </button>
  </section>
</header>
