<div class="flex flex-col lg:flex-row items-center">
  <div class="flex flex-col items-center space-y-2 ml-3 lg:ml-0 mx-4">
    <h2 class="text-3xl lg:text-5xl">Newsletter</h2>
    <p class="text-sm text-justify lg:text-xl">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt esse
      quis nulla vitae et unde veniam eos atque! Maxime debitis, pariatur eum
      officia voluptates amet fugiat consectetur laboriosam doloribus itaque.
    </p>
  </div>
  <div class="lg:pt-6 lg:mr-20">
    <form class="space-y-2 lg:flex lg:space-x-2">
      <input
        class="border-2 border-solid border-black text-md relative leading-3 rounded-md shadow-sm py-2 pl-6 hover:ring-slate-300 mr-4 lg:mr-0"
        type="email"
        placeholder="Email Address"
        required
      />
      <button class="btn btn-neutral hover:bg-slate-600"> Subscribe </button>
    </form>
  </div>
</div>
