<div
  id="menu-mobile"
  class="fixed top-0 left-0 bg-blue-500 w-[55vw] h-full ml-0 p-8 hidden lg:hidden z-50"
>
  <button
    id="exit-sidebar-menu-btn"
    class="text-2xl text-white fixed top-1 left-2">X</button
  >
  <h2 class="text-2xl text-white mt-1">Menu</h2>
  <ul class="flex flex-col text-white text-xl mt-5 space-y-3">
    <li>
      <button>
        <a href="https://adsomos.com/">Home</a>
      </button>
    </li>
    <li>
      <button>
        <a href="https://adsomos.com/">About</a>
      </button>
    </li>
    <li>
      <button>
        <a href="https://adsomos.com/">Shop</a>
      </button>
    </li>
    <li>
      <button>
        <a href="https://adsomos.com/">Help</a>
      </button>
    </li>
  </ul>
</div>
